# Dependencies
node_modules/

# Build output
dist/
target/
.angular/

# Logs
*.log
.backend.log
.backend.err.log
.frontend.log
.frontend.err.log
.ng-serve.log
.ng-serve.err.log

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Environment
*.env
.env
